
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
}

/* Reset props for material input */
.MuiInput-underline::before{
	border-bottom: 0 !important;
}
.MuiInput-underline::after{
	border-bottom: 0 !important;
}
.css-1lveplb-MuiInputBase-input-MuiInput-input{
	padding: 0 !important;
}
.css-nz481w-MuiInputBase-input-MuiInput-input{
	padding: 0 !important;
}
/* Reset props for material input */


/* Styles for Emoji picker */

.emoji-picker-react{
	box-shadow: 0 0 0 0 !important;
	background-color: transparent !important;
	border: 0 !important;
	width: 100% !important;
}
.emoji-scroll-wrapper::-webkit-scrollbar{
	width: 0 !important;
}
.emoji-picker-react .emoji-group:before,
.emoji-picker-react .emoji-group:after{
	background-color: transparent !important;
}
.emoji-categories{
	background-color: rgba(251, 251, 251, 0.67) !important;
}
.emoji-picker-react .emoji-group:before, .emoji-picker-react .emoji-group:after{
	position: relative !important;
}
.emoji-picker-react .active-category-indicator-wrapper .active-category-indicator{
	background-color: #00A884 !important;
}
aside.emoji-picker-react button,
aside.emoji-picker-react button:hover{
	background-color: transparent !important;
}
/* Styles for Emoji picker */

